@import 'ColorVar.module.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }
}

/**:focus-visible {*/
/*    outline: 2px solid var(--primary-border);*/
/*}*/

body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg);
}


button {
    cursor: pointer;
}

button:not(:disabled):active {
    background-color: transparent;
    color: var(--primary-border);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input:focus {
    border: none
}